/* @import "style.css"; */

*{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px
    /* object-fit: cover;  */
}
img {
    width: 35%;
}
.text{
    margin: 2% 5% 2% 5%;
}
.title{
  position: absolute;
  top: 2%;
  left: 37.7%;
  text-align: center;
}
#status{
  position: absolute;
  bottom: 4%;
  left: 34.7%;
  text-align: center;
}

.howtoPlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 800px;
  max-width: 80%;
}
.howtoPlay.active{
  transform: translate(-50%, -50%) scale(1);
}


.howtoPlay-header{
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.howtoPlay-body{
  padding: 20px 25px;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}


#btnhowtoPlay {
    position: absolute;
    bottom: 4px;
    left: 16px;
  }
#btnStart {
    position: absolute;
    bottom: 4px;
    right: 16px;
  }
#players-online{
    position: absolute;
    top: 4px;
    left: 41%;
}

#btnClose{
  position: absolute;
  bottom: 2%;
  right: 0%;
  width: 4em;
  height: 2em;
  background-color: #BFB526;
}

button {
  margin: 2% 5% 2% 5%;
  border: none;
  color: black;
  border-radius: 1em;
  width: 8em;
  height: 4em;
  float: left;
  cursor: pointer;
  object-fit: cover; 
}

button:hover {
  transform: scale(1.03);
}
button:active {
  transform: scale(1.13);
}